html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

*{
	box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

.instruction {
	color: #666666;
	margin-top: 40px;
	font-size: 20px;
	text-align: center;
}