<!DOCTYPE html>
<html ng-app="sellerCenter">
<head>
	<title></title>
</head>
<body ng-controller="SellerCenterCtrl">
	<div>
		<input type="text" ng-model="inputText">
		{{inputText}}
		<button ng-click='getData()'>getData</button>
	</div>
	<list-repeat></list-repeat>
	<a href="../sellerSetting/index.html">goToSetting</a>
	<script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>
	<script type="text/javascript" src="/vendor.__bundle.js"></script>
	<script type="text/javascript" src="/sellerCenter/main.__bundle.js"></script>
</body>
</html>